/* ===== Login Page Styles ===== */

.background-image{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./images/latarmasuk.png") no-repeat center center fixed;
}


.login-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* Transparent overlay */
  -webkit-backdrop-filter: blur(10px); /* Add this line */
  backdrop-filter: blur(10px);
  border-radius: 16px;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.login-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent input background */
  color: #fff;
}

.input-group input:focus {
  border-color: #00bcd4;
  outline: none;
}

.password-container {
  position: relative;
}

.password-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkbox-group label {
  font-size: 0.9rem;
}

.checkbox-group a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #00bcd4;
}

.checkbox-group a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #008c9e;
}

.or-section {
  text-align: center;
  font-size: 0.9rem;
  margin: 20px 0;
  color: #fff;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.google-login img {
  width: 20px;
  margin-right: 10px;
}

.signup-link {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
  color: #fff;
}

.signup-link a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}