/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Style */
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #e6ffe6; /* Light green background */
  }

  .spalash {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #e6ffe6;
    z-index: 200;
    color: #000;
    text-align: center;
    line-height: 90vh;
  }

  .spalash.display-none {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #e6ffe6;
    z-index: -10;
    color: #000;
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
  }

  @keyframes fadeIn {
    to{
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    margin: 20px auto; /* Center the navbar */
    border-radius: 40px; /* Rounded corners */
    border: 2px solid black; /* Black border */
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 0.3125rem;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-left: 0.3125rem;
  }
  
  .nav-links li {
    margin: 0 0.9375rem;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
  }

  .nav-links li{
    position: relative;
  }

  @media (max-width: 1111px) {
    .navbar{
      flex-direction: column;
      text-align: center;
    }

    .logo, .nav-links{
      flex: none;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu li {
    padding: 5px 20px;
  }

  .dropdown-menu li a {
    color: black;
    text-decoration: none;
  }

  .dropdown-menu li a:hover {
    background-color: #d4f8d4;
    border-radius: 5px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .nav-links a span {
    margin-left: 0.3125rem;
    font-size: 0.75rem; /* Dropdown icon size */
  }
  
  .nav-links a:hover {
    color: #00bcd4; /* Highlight color on hover */
  }
  
  /* Login Button */
  .login-button {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #444; /* Darker shade of black */
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .nav-links {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .login-button {
      margin-top: 10px;
    }
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .header-content{
    flex: 1;
    max-width: 600px;
  }

  .header-content h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .header-content p{
    font-size: 1rem;
    margin: 15px;
  }

  .cta-button{
    padding: 12px 30px;
    display: inline-block;
    background-color: #d5f9dd;
    border: 2px solid black;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
  }

  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    text-align: center;
    position: relative;
  }

  .header-content {
    margin-bottom: 40px;
  }

  .partner-with{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  .partner-logos{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .partner-logos img{
    max-width: 50px;
    height: auto;
    max-width: 500px;

  }

  .header-image{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }


  #about{
    background-color: #fff;
    border-bottom: 2px solid black;
    
  }

  .about-container{
    display: flex;
    align-items: center;
    gap : 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2px;
  }

  .about-image{
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .green-square{
    background-color: #d5f9dd;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .about-image img{
    width: 78%;
    height: auto;
    position: absolute;
    object-fit: cover;
  }

  .about-text{
    flex: 1;
  }

  .about-text h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .about-text p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .about-text ul{
    list-style: none;
    padding: 0;
  }

  .about-text ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .about-text ul li img{
    margin-right: 10px;
    width: 84px;
    height: 84px;
  }

  @media (max-width: 768px) {
    .about-container {
      flex-direction: column; 
      text-align: center; 
    }
  
    .about-image, .about-text {
      flex: none;
    }
  }
  
#offer {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
  border-bottom: 2px solid black;
}

#offer h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}

.offer-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 20px; 
  flex-wrap: wrap;
}

/* Individual Card Styles */
.offer-card {
  background-color: #f5f5f5; /* Default background color */
  border-radius: 12px;
  border: 2px solid black;
  max-width: 300px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.offer-card h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.learn-more {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid black;
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #444;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .offer-container {
    flex-direction: column;
    gap: 30px; /* Increase spacing for stacked layout */
  }

  .offer-card {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}

#busines-solution {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  border-bottom: 2px solid black;
  background-color: #ffffff;
  margin-bottom: 2rem;
  border-bottom: #000000;
}

#business-solution {
  padding-left: 80px; /* Pushes the text content inside the container to the right */
}

.business-container{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.business-text{
  flex: 1;
  text-align: left;
}
.business-text h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.business-text ul{
  list-style: none;
  padding: 0;
}

.business-text li{
  margin-bottom: 10px;
}

.business-text a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: #000;
  border-bottom: 2px solid #000;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.business-text a:hover{
  color: #444;
  border-bottom-color: #444;
}

.image-container{
  position: relative;
  background-color: #d8f3dc;
  padding: 20px;
  width: 400px;
  height: 600px;
  padding-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  display: fit-content;
}

.image-container img{
  max-width: 100%;
  border-radius: 12px;
  display: block;
}

@media (max-width: 768px) {
  .business-container {
    flex-direction: column;
    gap: 20px;
  }

  .business-text, .business-image {
    text-align: center;
  }
}

#client-reviews {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-top: 2px solid black;
}

#client-reviews h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.reviews-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.review-card {
  background-color: #ffe5cc;
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 1.5rem;
  max-width: 300px;
  text-align: left;
  position: relative;
}

.review-card .quote-icon {
  font-size: 2rem;
  color: #d684c2;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.review-card p {
  margin: 2rem 0 1.5rem;
  font-size: 1rem;
  color: #000000;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.client-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.client-info div {
  font-size: 0.9rem;
}

.client-info strong {
  display: block;
  font-size: 1rem;
}

.client-info small {
  color: #666666;
}

@media (max-width: 768px) {
  .reviews-container {
    flex-direction: column;
    align-items: center;
  }
}

#demo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 20px;
  border-top: 2px solid black;
}

#demo img{
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.demo h1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.demo-button{
  display: absolute;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    border-radius: 2.5rem;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.demo-button{
  margin-bottom: 1.5rem !important;
}

.demo-button:hover{
  background-color: #444;
}

@media (max-width: 768px) {
  #demo {
    flex-direction: column;
  }
}

#faq-section{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.faq-image-container{
  position: relative;
  background-color: #dee8f2;
  width: 100%;
  height: 50vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.faq-image-container{
  flex: 1;
  display: fit-content;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  width: 400ox;
  height: 600px;
  padding-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #000;
  border-right: 2px solid #000;

}

.faq-image-container img{
  max-width: 100%;
  height: auto;
  padding: 20px;
}

/* FAQ Section Styling */
.faq-section {
  background-color: #f9cdd0; /* Light pink background */
  padding: 3rem 1rem;
  text-align: center;
}

.faq-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000;
}


.faq-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  max-width: 600px;
}

/* FAQ Item Styling */
.faq-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  max-width: 600px; /* Limit the width of each FAQ item */
  margin-left: auto; /* Center-align the FAQ item */
  margin-right: auto;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  padding: 0.5rem 0;
  color: #000;
}

.faq-question:hover {
  color: #333;
}

/* Arrow Styling */
.faq-arrow {
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-arrow {
  transform: rotate(180deg); /* Arrow rotates when active */
}

/* Answer Styling */
.faq-answer {
  display: none;
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.5rem;
  text-align: left;
}

/* Show Answer */
.faq-item.active .faq-answer {
  display: block;
}

#membership {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-top: 2px solid #000; /* Optional: Adjust to match your website's theme */
}

.membership-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.membership-text {
  color: #000; /* Black text */
}

.membership-text h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.membership-text p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.masuk-button {
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.masuk-button:hover {
  background-color: #333;
}

.membership-image-container{
  background-color: #dee8f2;
  padding: 2rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-imag-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer {
  background-color: #d9f6dc; /* Light green background */
  padding: 2rem 1rem;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-logo h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-links div {
  min-width: 150px;
}

.footer-links h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.footer-app {
  text-align: right;
}

.footer-app p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.footer-app-icons img {
  height: 30px;
  margin-right: 0.5rem;
}

.footer-bottom {
  border-top: 1px solid #000;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-bottom-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.footer-bottom-links li {
  font-size: 0.8rem;
}

.footer-social-icons i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.footer-social-icons i:last-child {
  margin-right: 0;
}

